body {
    background: url('assets/images/background.jpg') no-repeat top scroll transparent;
    background-size: 100%;
}

header#pageHeader {
    border-bottom: 1px solid #333;
    margin: 15px auto;
    padding-bottom: 30px;

    img {
        display: block;
        margin: 0 auto;
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }
}

#translatedContentWrapper {
    display: table;
    height: 400px;
    margin: 30px;
    width: 100%;

    #translatedContent {
        display: table-cell;
        vertical-align: middle;
    }

    img {
        width: 64px;
    }
}

#textBoxTranslator {
    background: none;
    border: 10px solid #000;
    border-radius: 10px;
    font-size: 24px;
    padding: 30px;
}