body {
  background: url("assets/images/background.jpg") no-repeat top scroll transparent;
  background-size: 100%;
}

header#pageHeader {
  border-bottom: 1px solid #333;
  margin: 15px auto;
  padding-bottom: 30px;
}
header#pageHeader img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

#translatedContentWrapper {
  display: table;
  height: 400px;
  margin: 30px;
  width: 100%;
}
#translatedContentWrapper #translatedContent {
  display: table-cell;
  vertical-align: middle;
}
#translatedContentWrapper img {
  width: 64px;
}

#portraitWrapper {
  display: inline-block;
  float: right;
}

#textBoxTranslator {
  background: none;
  border: 10px solid #000;
  border-radius: 10px;
  font-size: 24px;
  padding: 30px;
}

.wordWrapper.landscape {
  display: inline-block;
  margin-right: 30px;
}
.wordWrapper.landscape .syllable {
  display: inline-block;
}

.wordWrapper.portrait {
  float: right;
  margin-left: 34px;
  width: 128px;
}
